---
layout: default
---

<div class="home">
    <div class="row">
        <div class="col-4 col-s-12">
            <div class="responsive profile-border-top">
                <img
                    class="profile cover"
                    src="{{
                site.picture_profile }}"
                />
            </div>
        </div>

        <div class="col-8 col-s-12">
            {%- if page.title -%}
            <h1 class="page-heading"><strong>{{ page.title }}</strong></h1>
            {%- endif -%} 
            {%- if page.subtitle -%}
            <h1 class="page-sub-heading">{{ page.subtitle }}</h1>
            {%- endif -%} 
            <p>{{ content }}</p>
        </div>
    </div>

    <!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  -->
</div>
